{% extends "base.html" %}

{% block content %}
<div class="row">
    <div class="col-md-6 grid-margin stretch-card">
        <div class="card tale-bg">
            <div class="card-people mt-auto">
            </div>
        </div>
    </div>
    <div class="col-md-6 grid-margin transparent">
        <div class="row">
            <div class="col-md-6 mb-4 stretch-card transparent">
                <div class="card card-tale">
                    <div class="card-body">
                        <p class="mb-4">Total Words </p>
                        <p class="fs-30 mb-2">{{ total_words }}</p>
                    </div>
                </div>
            </div>
            <div class="col-md-6 mb-4 stretch-card transparent">
                <div class="card card-dark-blue">
                    <div class="card-body">
                        <p class="mb-4">Today</p>
                        <p class="fs-30 mb-2">{{ words_today }}</p>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-6 mb-4 mb-lg-0 stretch-card transparent">
                <div class="card card-light-blue">
                    <div class="card-body">
                        <p class="mb-4">This Week</p>
                        <p class="fs-30 mb-2">{{ words_week }}</p>
                    </div>
                </div>
            </div>
            <div class="col-md-6 stretch-card transparent">
                <div class="card card-light-danger">
                    <div class="card-body">
                        <p class="mb-4">Number of Clients</p>
                        <p class="fs-30 mb-2">47033</p>
                        <p>0.22% (30 days)</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="row">
    <div class="col-12">
        <div class="card">
            <div class="card-body">
                <h4 class="card-title">Words of the Week</h4>
                <div class="table-responsive">
                    <table id="weekly-words-table" class="display nowrap" style="width:100%">
                        <thead>
                            <tr>
                                <th>Word</th>
                                <th>Meaning</th>
                                <th>Pronunciation</th>
                                <th>Sentence 1</th>
                                <!-- <th>Sentence 2</th> -->
                                <!-- <th>Sentence 3</th> -->
                                <!-- <th>Sentence 4</th> -->
                                <!-- <th>Sentence 5</th> -->
                                <!-- <th>Types</th> -->
                                <th>Notes</th>
                                <!-- <th>Added Date</th> -->
                                <!-- <th>Last Seen Date</th> -->
                            </tr>
                        </thead>
                        <tbody>
                            {% for word in weekly_words %}
                            <tr>
                                <td>{{ word.word }}</td>
                                <td>{{ word.meaning }}</td>
                                <td>{{ word.pronunciation }}</td>
                                <td>{{ word.sentence1 }}</td>
                                <!-- <td>{{ word.sentence2 }}</td> -->
                                <!-- <td>{{ word.sentence3 }}</td> -->
                                <!-- <td>{{ word.sentence4 }}</td> -->
                                <!-- <td>{{ word.sentence5 }}</td> -->
                                <!-- <td>{{ word.types }}</td> -->
                                <!-- <td>{{ word.notes }}</td> -->
                                <!-- <td>{{ word.added_date }}</td> -->
                                <!-- <td>{{ word.last_seen_date }}</td> -->
                            </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>

<link rel="stylesheet" href="https://cdn.datatables.net/2.0.8/css/dataTables.dataTables.css" />
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>
<script src="https://cdn.datatables.net/2.0.8/js/dataTables.js"></script>

<script>
    $(document).ready(function () {
        $('#weekly-words-table').DataTable({
            responsive: true,
            paging: true,    // Enable paging
            searching: true, // Enable searching
            ordering: true,  // Enable ordering
            info: true,      // Enable information
        });
    });
</script>
{% endblock %}
